*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: 'Inter', sans-serif;;
}
.NavBar{
    box-shadow: 0px 2px 2px 0px silver;
    height: 50px;
    display: flex;

}

.logo{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.NavList{
    position: relative;
    top: 15px;
    left:1100px;
    list-style: none;
    display: flex;
    font-size: large;
    
}
.MiddleList{
    margin-left: 20px;
    margin-right: 20px;
}
.Abs{
    position: relative;
    left: 300px;
  
}
.AbsPic{
    
    width:800px;
    height: 300px;
}
.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
.Card{
    position :relative;
    width: 275px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    margin-top: 20px;
    margin-left: 50px;
    
}
.cardImg{
    height:300px;
    width:250px;
    border-radius: 20px;
    
}
.star{width:10px}
.soldOut{
    background-color: aliceblue;
    width: 50px;
    position:absolute;
    top:10px;
    left: 10px;
}
.online{
    background-color: aliceblue;
    width: 50px;
    position:absolute;
    top:10px;
    left: 10px;
}